@import "./breakpoints";

:root {
  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-body-bg: rgb(250, 250, 250);

  --light-grey: rgb(237, 237, 237);
  --mid-grey: rgb(207, 207, 207);
  --dark-grey: rgb(68, 68, 68);

  --color-primary: rgb(4, 0, 255);
  --color-primary--hover: rgb(3, 0, 184);

  --color-secondary: rgb(229, 255, 0);
  --color-secondary--hover: rgb(207, 226, 32);

  --color-danger: rgb(255, 0, 0);

  --text-color: #212529;
  --text-font: Arial, Inter, Avenir, Helvetica, sans-serif;

  --container-marges-x: 1rem;

  --grid-gap: 0.5rem;
  --grid-columns: 4;

  --list-items-gap-x: 1rem;
  --list-items-gap-y: 2rem;

  @include breakpoint($screen-sm) {
    --container-marges-x: 4rem;

    --grid-columns: 8;

    --list-items-gap-x: 1.5rem;
    --list-items-gap-y: 3rem;
  }

  @include breakpoint($screen-md) {
    --container-marges-x: 8rem;

    --grid-gap: 1.8rem;
    --grid-columns: 12;

    --list-items-gap-x: 2rem;
    --list-items-gap-y: 8rem;
  }

  @include breakpoint($screen-xl) {
    --container-marges-x: 30rem;
  }
}
