.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
}

.name {
  font-weight: 700;
}
.artist {
  font-size: 0.75rem;
}
